@page "/cards"
@inject IDeckService DeckService
@inject IStateService State

@if (cards != null)
{
	<div class="deck">
	@for (int i = 0; i < cards.Count(); i++)
		{
			<div @onclick="HandleClick" style="position: absolute;z-index: @(100 - i);transform: translate3d(0, 50%, @(10 - i)px)">
				<Card Color="@cards[i].Color" Value="@cards[i].Value"></Card>
			</div>
		}
	</div>
}

@code {
	private CardModel[]? cards;

	protected override async Task OnInitializedAsync()
	{
		IEnumerable<Deck>? decks = await DeckService.GetDecksAsync();
		cards = decks?.First().GetCards().ToArray();
		State.State = new() { ThemeColor = cards[0].Color };
	}

	private void HandleClick()
	{
		State.State = new() { ThemeColor = "#0a0" };
	}
}
