@page "/"
@using Crews.Education.SequenceDecks.Models
@inject HttpClient Http
@inject AppStateService AppState
@inject WindowService Window
@implements IDisposable

<PageTitle>Sequence Decks</PageTitle>
@if (!AppState.Started)
{
	<div class="center-content">
		@if (AppState.BackgroundReady)
		{
			<IconButton IconName="fullscreen" OnClick="StartBackground" Disabled="@(!AppState.BackgroundReady)">
				Enter fullscreen &amp; start
			</IconButton>
		}
		else
		{
			<Spinner Size="32" Color="white" />
			<h2>Loading...</h2>
		}
	</div>
}
@code {
	protected override void OnInitialized() => AppState.OnChange += StateHasChanged;
	public void Dispose() => AppState.OnChange -= StateHasChanged;

	private void StartBackground() => AppState.Started = true;
}
