

.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(45deg, hsl(0, 100%, 50%), transparent), 
        linear-gradient(135deg, hsl(90, 100%, 50%), transparent), 
        linear-gradient(225deg, hsl(180, 100%, 50%), transparent), 
        linear-gradient(315deg, hsl(270, 100%, 50%), transparent);
    animation: hueCycleFilter 30s linear infinite;
    z-index: 0;
}

.base-background {
}

@keyframes hueCycleFilter {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}
