.background-container {
}

.background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    transition: opacity 5s linear;
}

.hidden {
    opacity: 0;
}

.caption-container {
    position: fixed;
    bottom: 16px;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    padding: 16px 24px;
    color: white;
    border-radius: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 1;
}

p {
    margin: 0;
}