<div class="container" style="color: @Color">
	<p x="0" y="15">@Value</p>
</div>

@code {
	[Parameter]
	[EditorRequired]
	public string Value { get; set; }

	[Parameter]
	public string Color { get; set; } = "#eee";
}
