<div class="container" style="color: @Color">
	<text x="0" y="15">@Value</text>
</div>

@code {
	[Parameter]
	public required string Value { get; set; }

	[Parameter]
	public string Color { get; set; } = "#eee";
}
