<div class="container">
	<div class="loader" style="width: @(Size)px; height: @(Size)px;" />
</div>

<style>
	.loader {
	border-radius: 50%;
	animation: rotate 1s linear infinite;
}

.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: @(Size / 8)px solid @Color;
	animation: prixClipFix 2s linear infinite alternate;
}

@@keyframes rotate {
	100%   {transform: rotate(360deg)}
}

@@keyframes prixClipFix {
	0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
	75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
	100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


</style>

@code
{
	[Parameter]
	public int Size { get; set; } = 24;
	
	[Parameter]
	public string Color { get; set; } = "black";
}