@inherits LayoutComponentBase
<div class="page">
    <main>
        <Background VideoSource="https://sylvan.apple.com/Videos/comp_CH_C007_C011_PSNK_v02_SDR_PS_FINAL_20180709_SDR_2K_AVC.mov" />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
